@font-face {
  font-family: 'Maiden';
  src: url(maiden.ttf);
}

body {
  height: max-content;
}

.navbar-nav {
  align-items: center;
  font-weight: 400;
}

.navbar-nav a:hover {
  background-color: black;
  color: white;
  border-radius: 15px;
}

img {
  height: 25px;
  align-items: center;
}

@media (max-width: 991px) {
  .navbar-nav {
    background-color: rgb(235, 235, 235);
    text-align: center;
  }

  .navbar-nav a:hover {
    background-color: black;
    color: white;
  }

  .navbar-nav a {
    width: 100%;
  }
}

.carousel-item img{
  object-fit: cover;
  width: 100%;
  margin: 0 auto; /* centraliza a imagem horizontalmente */
  height: 100%; /* ajusta a altura da imagem para preencher a div */
  width: 100%; /* ajusta a largura da imagem para preencher a div */
}