@font-face {
  font-family: 'Maiden';
  src: url(maiden.ttf);
}

body {
  height: max-content;
  background-image: url(img/bg-novidades.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 45px;
  color: black;
  font-weight: 600;
  font-family: 'Maiden';
  src: url(maiden.ttf);
}

.navbar-nav {
  align-items: center;
  font-weight: 400;
}

.navbar-nav a:hover {
  background-color: black;
  color: white;
  border-radius: 15px;
}

img {
  height: 25px;
  align-items: center;
}

@media (max-width: 991px) {
  .navbar-nav {
    background-color: rgb(235, 235, 235);
    text-align: center;
  }

  .navbar-nav a:hover {
    background-color: black;
    color: white;
  }

  .navbar-nav a {
    width: 100%;
  }
}

.carousel-item img{
  object-fit: cover;
  width: 100%;
  margin: 0 auto; /* centraliza a imagem horizontalmente */
  height: 100%; /* ajusta a altura da imagem para preencher a div */
  width: 100%; /* ajusta a largura da imagem para preencher a div */
}

.card img {
  object-fit: cover;
  width: 100%;
  margin: 0 auto; /* centraliza a imagem horizontalmente */
  height: 100%; /* ajusta a altura da imagem para preencher a div */
  width: 100%; /* ajusta a largura da imagem para preencher a div */
}

#novidades {
  padding-top: 50px;
  font-weight: 600;
}

#agenda_shows {
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 600;
}

#agenda {
  padding-bottom: 50px;
}

#sobre-nos {
  background-image: url(img/bg.png);
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#sobre-nos h1 {
  color: white;
  padding-bottom: 30px;
}

